.item-padding-8{padding:8px}.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme{margin-left:16px}.product-section.product-section .products{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}ol,ul{margin-left:0!important;list-style-type:none!important}.spacer{height:5px}.woocommerce div.product p.price,.woocommerce div.product span.price{color:#ff541e!important}#mini-cart-box .cart-mini-container .woocommerce-mini-cart__empty-message{text-align:center}#mini-cart-box .woocommerce-mini-cart-item.mini_cart_item{position:relative;border-bottom:1px solid #ccc}#mini-cart-box .woocommerce-mini-cart-item.mini_cart_item a{display:inline}#mini-cart-box .total,#mini-cart-box .woocommerce-mini-cart__buttons{padding-left:16px}#mini-cart-box .woocommerce-mini-cart__buttons .checkout{margin-left:8px!important}#mini-cart-box .total{margin-top:16px}#mini-cart-box .woocommerce-mini-cart-item.mini_cart_item a.remove{position:absolute;right:15px;top:50%;font-size:32px;margin-top:-8px}#mini-cart-box .woocommerce-mini-cart-item.mini_cart_item img{width:25%;float:none}.header-wrapper .header-top .frnavbar-collapse.opened{display:block}mark.count{background:#ff541e!important}.woocommerce a.button.add_to_cart_button{margin-top:10px!important;margin-bottom:10px!important}.header-wrapper .header-top .frnavbar-collapse .navbar-nav .menu-item.menu-item-has-children .sub-menu>.menu-item>a{text-transform:capitalize}.woocommerce-pagination.berocket_pagination{display:table!important;margin:0 auto!important;width:100%}.woocommerce-pagination.berocket_pagination .page-numbers li.next a.next.page-numbers,.woocommerce-pagination.berocket_pagination ul li a.prev{background:#ff541e;color:#fff!important}.related.products h2,.woocommerce-tabs h2{font-size:24px}header.woocommerce-products-header{margin-left:12px}.woocommerce .woocommerce-result-count{margin-left:16px!important;margin-right:10px!important}.layout-grid .item:hover,.layout-grid .post-item,.layout-grid .post-item:hover,li.product-category.product,li.product-category.product:hover{border:none}.product-section .btn-gap,.product-section .spacer{-webkit-box-flex:1;-ms-flex:1;flex:1}.custom-col-5{float:left}.product-section .post-item{margin-bottom:4px}.product-section .item-wrapper .item-padding-8{min-height:106px}.product-section .post-item .product-name{font-size:16px;text-transform:capitalize;min-height:35px}.product-section .section-actions{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:5px}.product-section .section-actions .btn-comments,.product-section .section-actions .btn-likes{font-size:13px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:rgba(0,0,0,.26);cursor:pointer}.product-section .section-actions .btn-likes .text{margin-left:3px}.woocommerce form .form-row input.input-text:focus,.woocommerce form .form-row textarea:focus,a:focus,button:focus,input:focus,textarea:focus{border:none!important;outline:0}.menu-categories{list-style:none;border:1px solid #faa61a;background-color:#faa61a;padding:5px}.menu-categories>.menu-category a{display:block;color:#fff;padding:5px;border-bottom:1px dashed #fff}.menu-category{position:relative}.menu-div-show{width:200px;background-color:#f5f5f5;display:none}a.menu-link-hover{color:#000}a.menu-link-hover:hover+.menu-div-show{display:block;position:absolute;top:0;left:102.5%;z-index:999}.header-search .dgwt-wcas-search-wrapp .dgwt-wcas-search-form input[type=search].search-field{border:0; padding-left: 10px;    width: 60%;-webkit-box-shadow:none;box-shadow:none;padding-top:7px;padding-right:60px;padding-bottom:7px;-webkit-box-sizing:border-box;box-sizing:border-box;height:34px;font-size:14px;line-height:20px}a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart,span.wc-block-grid__product-onsale{background-color:#faa61a}figure.wp-block-embed-wordpress.wp-block-embed.is-type-wp-embed.is-provider-thiết-bị-lao-dộng.post-on-dashboard{display:inline-block}div#contact-floated{position:fixed;top: 224px;left:0;z-index:1000000;color:#f5f5f5;border:none;background-color:#ff531e;padding:10px;display:block}div#contact-floated a{color:#f5f5f5}.woocommerce-terms-and-conditions-wrapper{width:100%}.woocommerce-privacy-policy-text{text-align:left}.wc-block-grid__product-price,.wc-block-grid__product-rating,.wc-block-grid__product-title{font-size:16px}a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart,span.wc-block-grid__product-onsale{background:#ff531e;font-size:12px;padding:6px 12px;outline:0}span.wc-block-grid__product-onsale{display:none}#wp-live-chat-header{background:url(../images/0-chat-png-hd.png) no-repeat center;background-size:75%}.woocommerce .related.products .products.columns-4 li.post-item{width:24%;display:inline-block;border:none}.woocommerce .related.products .products.columns-4 li.post-item .text-name .product-name{font-size:16px}.woocommerce .related.products .products.columns-4 li.post-item:hover{border:none}.footer-wrapper .widget-column .widget-title{margin-top:40px;font-size:12px;font-weight:700;color:rgba(0,0,0,.54);text-transform:uppercase;margin-bottom:20px}.header-wrapper .header-top{background-color:#f73b00;font-size:13px;color:#fff}li.product-category.product{margin-right:0!important}ul.berocket_aapf_widget.berocket_style_none.roundpcs.pcs{display:block!important}.wplc-color-bg-1{background-color:#ff351e!important}.woocommerce-product-gallery{position:relative;margin-bottom:3em}.woocommerce-product-gallery figure{margin:0}.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2){width:25%;display:inline-block}.woocommerce-product-gallery .flex-control-thumbs li{list-style:none;float:left;cursor:pointer}.woocommerce-product-gallery .flex-control-thumbs img{opacity:.5}.woocommerce-product-gallery .flex-control-thumbs img.flex-active,.woocommerce-product-gallery .flex-control-thumbs img:hover{opacity:1}.woocommerce-product-gallery img{display:block}.woocommerce-product-gallery--columns-3 .flex-control-thumbs li{width:33.3333%}.woocommerce-product-gallery--columns-4 .flex-control-thumbs li{width:25%}.woocommerce-product-gallery--columns-5 .flex-control-thumbs li{width:20%}.woocommerce-product-gallery__trigger{position:absolute;top:1em;right:1em;z-index:99}a.woocommerce-product-gallery__trigger{text-decoration:none}.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger{position:absolute;top:.875em;right:.875em;display:block;height:2em;width:2em;border-radius:3px;z-index:99;text-align:center;text-indent:-999px;overflow:hidden}.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger{background-color:#169fda;color:#fff}.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover{background-color:#1781ae;border-color:#1781ae;color:#fff}.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before{font:normal normal normal 1em/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:block;content:"\f00e";line-height:2;text-indent:0}

.content-area.no-padding-top {
  margin-top: 0;
}
.post-item .lazyloaded{
    width: 100%;
    height: auto;
}
.col-lg-12::after , .col-md-12:after {
  content: "";
  display: block;
  clear: both;
}

#recentcomments {
  padding-left: 0;
}

form.wpcf7-form input {
  width: 100%;
  height: 34px;
}

.list-posts-inner .post-item .cover-img .background,
.related.products .post-item .cover-img .background{
	height: 224px;
	position: relative;
    overflow: hidden;
}

.list-posts-inner .post-item .cover-img .background img,
.related.products .post-item .cover-img .background img {
  width: auto;
  height: 100%;
}

.list-categories-inner .layout-grid.grid-style-2 .item .item-info{
    margin-top: 0;
	white-space: inherit;
  display: table;
margin: 0 auto;
}

.tin_tuc .single-post {
	margin-top: 15px;
}
.tin_tuc a, .tin_tuc a:hover {
    color: #333;
}

.tin_tuc .item h2.item-title.tilte-news {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 0;
}
#categorySlider {
  position: relative;
  border-bottom: 3px solid #2457e2;
  height: auto;
  padding-top: 10px;
}
.category-list-ul {
  padding-left: 0;
  width: 100%;
  margin-bottom: 0;
}
.category-list-ul li{
  float: left;
}

.toggleSupport {
  position: absolute;
  top: -2px;
  right: -36px;
  font-size: 36px;
  color: #ff541e!important;
}
div#contact-floated {
    width: 150px;
    -webkit-transition: all .5s;
    -khtml-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateX(0px);
    -khtml-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

div#contact-floated:hover {
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

div#contact-floated.minimize {
    left: 0;
}
div#contact-floated.minimize a {

}
.fa-arrow-right {
    display: none;
}
div#contact-floated.minimize .fa-arrow-right {
    display: block;
}
div#contact-floated.minimize .fa-arrow-left {
    display: none;
}
div#contact-floated .contact-info .phone a{
    font-size: 16px;
}
.category-list-ul li > a:hover h2.item-title{
  color: #ff541e!important;
}

.list-categories-inner .layout-grid.grid-style-2 .item {
  box-shadow: none;
  outline: none;
    border: none;
}

.category-list-ul li.item ul.sub-menu {
  display: none;
  padding-left: 0;
  position: absolute;
  padding-top: 10px;
  background: #ff541e;
  width: calc(100% + 75px);
  left: 0;
  top: 25px;
  box-shadow: 1px 1px 1px #ccc;
  padding-bottom: 15px;
      padding-left: 16px;
      padding-right: 10px;
}

.category-list-ul li.item:hover ul.sub-menu {
  display: block;
}
.category-list-ul li.item:hover ul.sub-menu li {
  text-align: left;
  display: block;
  float: none;
  margin-top: 5px;
}
.category-list-ul li.item ul.sub-menu li a {
  color: #fff!important;
}
.category-list-ul li.item:hover ul.sub-menu li a {
  color: #333;
}
#categorySlider.actived {
  height: auto;
}

.tin_tuc .content_area .item {
    border-bottom: 1px solid #eee;
margin-bottom: 20px;
}

.tin_tuc .item img {
    float: left;
    height: 150px;
    width: 15%;
    padding-left: 1%;
    padding-right: 1%;
}

.tin_tuc .item .item-info.item-news{
    width: 80%;
float: left;
white-space: inherit!important;
 text-align: left!important;
}


.section-list-categories.section .section-header .title-wrap .title {
  float: left;
  position: relative;
  top: 8px;
}
.section-list-categories.section .section-header .title-wrap {
  margin-right: 0;
}

#fixedMobile.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
}

#fixedMobile.fixed .list-categories-inner .layout-grid.grid-style-2.actived {
  padding-left: 10px;
  padding-right: 10px;
}

#fixedMobile .layout-grid.grid-style-2.columns-10 .item {
      width: 12% !important;
}

#fixedMobile.fixed .section-list-categories {
  margin-bottom: 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.menu-container .menu {
  width: auto;
  display: table;
  margin: 4px auto;
}

.menu-mobile-text {
    display: none;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
  content: ">";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 0 10px;
  /* background: #fff; */
  color: #fff;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;

    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 5px 15px 5px;
    display: block;
    color: #fff;
}

.menu > ul > li:hover {
    background: transparent;
}

.menu > ul > li:hover > a {
  color: #fff;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #2457e2;
    padding: 20px;
    position: absolute;
    z-index: 1000;
    left: 0;
    margin: 0;
    top: 38px;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 15px;
    list-style: none;
    width: 24.5%;
    background: none;
     display: inline-block;
}

.menu > ul > li > ul > li a {
    color: #fff;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc!important;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0!important;
}

.menu > ul > li > ul > li a.link-title {
  font-weight: 700;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
}

.menu > ul > li > ul.normal-sub > li {
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}

.giuseart-pc-contact-bar {
    right: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 998;
    margin-bottom: 0;
    padding-left: 0;
}
.giuseart-pc-contact-bar li {
    width: 44px;
    height: 46px;
    overflow: hidden;
    margin-bottom: 0;
    list-style: none;
}
.giuseart-pc-contact-bar li.facebook {
    margin-bottom: 8px;
    background: url(../images/fb.png);
    background-repeat: no-repeat;
}

.giuseart-pc-contact-bar li a {
    display: block;
    width: 44px;
    height: 44px;
}

.giuseart-pc-contact-bar li.zalo {
    background: url(../images/zl.png);
    background-repeat: no-repeat;
}


.aligncenter {
  text-align: center!important;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .navbar-support-top {
      float: right;
    }
    .menu-container {
      width: 100%;
      background: #ff541e;
      padding-bottom: 10px;
      padding-left: 0;
      margin-top: 10px;
    }
    .menu-container .menu{
      display: block;
    }
    .menu-mobile-text {
        display: block;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        margin-top: 12px;
    }
    .menu-mobile-text:hover {
      color: #fff;
    }
    .category-list-ul {
      padding-left: 0;
    }
    #fixedMobile ul.category-list-ul {
      padding-left: 14px;
    }
    .menu > ul {
        display: block;
    }
    .menu > ul > li {
    }
    .menu > ul > li a {
        padding: 5px 7px 5px 0;
        width: auto;
        display: block;
    }
    .menu > ul > li:last-child a{
      padding-right: 0
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
    .category-list-ul li.item ul.sub-menu {
      width: 100%;
    }
    .list-categories-inner .layout-grid.grid-style-2 .item {
      transform: inherit;
    }
    .category-list-ul li.item ul.sub-menu {
        top: auto;
        z-index: 100;
    }
    #categorySlider {
      overflow: inherit;
    }
}

h1.headline { font-size: 10px; position: absolute; top: -9999px; left: -9999px; }


@media only screen and (min-width: 993px) and (max-width: 1024)  {
  body {
    min-width: 1024px;
  }
}
